/* Flexbox Layout for the body and main */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* Flexbox rules for article and aside */
article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}
